#note-list {
  max-width: 68rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  margin: 2rem auto;
}

#note-list a {
  text-decoration: none;
}

.note {
  width: 30%;
  background-color: var(--color-primary-700);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 4px;
  transition: all 0.3s ease-out;
}

.note:hover {
  background-color: var(--color-primary-600);
  transform: translateY(-0.25rem);
}

.note-meta {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-primary-300);
  font-weight: bold;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid var(--color-primary-300);
}

.note h2 {
  margin: 0 0 0.5rem 0;
  color: var(--color-primary-200);
}

.note p {
  margin: 0;
  color: var(--color-primary-100);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
#no-notes {
  text-align: center;
}

#no-notes a {
  color: var(--color-primary-100);
}

.note-link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
#notes-actions {
  margin: 2rem 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
#delete-icon {
  color: gray !important;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
#delete-icon:hover {
  color: white !important;
  transform: scale(1.1);
}
#note-form {
  border-radius: 6px;
  background-color: var(--color-primary-100);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  color: var(--color-gray-400);
}
